/* body {
  background-color: rgb(36, 226, 239);
  color: rgb(17, 9, 91);
}

p {
  background-color: pink;
  color: maroon;
} */

/* .paragraf-khusus {
  background-color: limegreen;
  color: darkgreen;
  font-size: 10 !important;
  font-family: 'Courier New', Courier, monospace;
} */

/* #teks-1 {
  font-size: 40 !important;
} */

#peta {
  height: 400px;
}